:root{
    --orange: #ff7d1a;
    --pale-orange: #ff9340;
    --light-orange: #ffede0;
    --dark-blue: #1d2025;
    --dark-grayish-blue: #68707d;
    --grayish-blue: #b6bcc8;
    --light-grayish-blue: #f7f8fd;
    --white: #fff;
    --black: #000;
}